<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <%# passing in the attribute as a symbol (eg :title) ->  automatically tells form field what model attribute to associate with and auto-fills the values for us %>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>
  
   <%= f.submit %>
<% end %>