<h3>Post Form</h3>

<%= form_for(@post) do |post_form| %>
  <label>Post title:</label><br>
  <%= post_form.text_field :title %><br>

  <label>Post Description</label><br>
  <%= post_form.text_field :description %><br>
  
  <%= post_form.submit %>
<% end %>