<h3>Post Form</h3>

<%= form_for(@post) do |t| %>
  <label>Post title:</label><br>
  <%= t.text_field :title %><br>

  <label>Post Description</label><br>
  <%= t.text_area :description %><br>
  
  <%= t.submit %>
<% end %>